@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-img-login {
    @apply bg-[url('/bg-img-login.svg')] bg-no-repeat bg-cover;
  }

  .bg-img-logo-sider {
    background: linear-gradient(
      180deg,
      rgba(10.27, 172.68, 223.98, 0.6) 0%,
      rgba(10.27, 172.68, 223.98, 0) 100%
    );
  }

  /* ::-webkit-scrollbar {
    width: 20px;
    height: 20px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: white;
  }

  ::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, rgba(10, 173, 224, 1) 0%, rgba(35, 121, 170, 1) 55%);
    border-radius: 100vh;
    border: 3px solid #2379aa;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(
      90deg,
      rgba(10, 173, 224, 1) 0%,
      rgba(35, 121, 170, 0.8814119397759104) 51%
    );
  } */
}
